body {
  font-family: Arial, sans-serif;
}

#count {
  font-weight: bold;
}

button {
  float: left;
}

#logo {
  width: 200px;
  height: 200px;
  background-image: url("../assets/holberton-logo.jpg");
  background-size: 200px 200px;
}
